@use "../../../shared/styles/global/variables" as *;

.solutionsItem {
  padding: 32px;

  position: relative;

  display: flex;
  flex-direction: column;

  border: 1px solid $color-border-2;
  border-radius: 16px;

  background-image: linear-gradient(
    180deg,
    rgba(33, 66, 136, 0.25) 0%,
    rgba(8, 20, 43, 0.25) 100%
  );
  box-shadow: 0px 10px 40px 0px #0000004d;

  min-height: 459px;
  height: 100%;

  &__image {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__title {
    margin: 244px 0 12px 0;
    padding: 0;

    font-family: $font-secondary;
    font-weight: 500;
    font-size: 20px;
    line-height: 125%;
    letter-spacing: 0.05px;
    color: $color-white;
  }

  &__description {
    margin: 0;
    padding: 0;

    font-family: $font-secondary;
    font-weight: 300;
    font-size: 16px;
    line-height: 138%;
    color: $color-gray;
  }
}
