@use "/src/styles/global/variables" as variables;

.userInfo {
  display: flex;
  flex-direction: column;
  padding: 180px 0 60px;
  flex-grow: 1;

  &__wrapper {
    display: grid;
    grid-template-columns: 240px 1fr;
    gap: 30px;
  }

  &__image {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__imageSrc {
    width: 100%;
    height: auto;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__title {
    margin: 0 0 5px 0;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
  }

  &__titleText {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 36px;
    line-height: 100%;
    color: variables.$color-black;
  }

  &__country,
  &__city,
  &__bio {
    margin: 0 0 5px 0;
    display: flex;
    flex-direction: column;
  }

  &__city {
    margin: 0 0 30px 0;
  }

  &__city {
    margin: 0 0 60px 0;
  }

  &__countryTitle,
  &__cityTitle,
  &__bioTitle {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: variables.$color-black-085;
  }

  &__countryText,
  &__cityText,
  &__bioText {
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: variables.$color-black;
  }

  &__svg {
    width: 32px;
    height: 32px;
    color: variables.$color-gray-edit;
  }
}
