@use "/src/styles/global/variables" as variables;
@use "/src/styles/global/mixins" as mixins;

.sideNav {
  margin: 0 0 0 -30px;
  padding: 46px 0 0;
  list-style-type: none;
  min-width: 290px;
  background-color: variables.$color-gray-main;
  grid-row: span 2;

  @include mixins.vp-1280 {
    margin: 0;
    padding: 20px 0 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    gap: 19px;
    align-items: center;
    background-color: transparent;
    height: 64px;
  }

  &__item {
    @include mixins.vp-1280 {
      height: 100%;
      width: 100%;
    }

    @include mixins.vp-1024 {
      &:first-child svg {
        display: none;
      }
    }
  }

  &__button {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__buttonSvg {
    width: 32px;
    height: 32px;
    color: variables.$color-orange;
    transition: color variables.$transition-300;

    @include mixins.vp-1280 {
      width: 24px;
      height: 24px;
    }
  }

  &__buttonText {
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: variables.$color-black-text;
    transition: color variables.$transition-300;

    @include mixins.vp-1280 {
      font-size: 14px;
    }
  }
}
