.movieTop {
  padding: 20px 0 120px;

  @include vp-768 {
    padding: 32px 0 32px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 64px;

    @include vp-768 {
      gap: 40px;
    }
  }

  &__title {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: $color-white;

    @include vp-768 {
      font-size: 24px;
      line-height: 32px;
    }
  }

  &__wrapper {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 336px);
    column-gap: 40px;
    row-gap: 64px;

    @include vp-1024 {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: unset;
    }

    @include vp-768 {
      padding: 20px;
      margin: -20px;
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      align-items: center;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    border-radius: 16px;
    border: 1px solid $color-white-025;
    box-shadow: 0px 0px 80px 0px $color-white-033;
    transform: scale(1);
    transition: transform $transition-300;

    @include vp-768 {
      min-width: 224px;
      box-shadow: unset;
      height: 336px;
    }

    &:focus-visible {
      outline: none;
      transform: scale(1.05);
    }

    &:hover {
      transform: scale(1.05);
    }

    &:active {
      transform: scale(1.025);
    }
  }

  &__cardShadowNone {
    border: none;
    box-shadow: none;
    justify-content: center;
  }

  &__cardPoster {
    border-radius: 16px;
    flex-grow: 1;
  }

  &__cardPosterHeight {
    max-height: 125px;
  }

  &__cardEmptyPoster {
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: $color-gray-empty;
    text-align: center;
  }

  &__cardNumber {
    padding: 8px 24px;
    position: absolute;
    top: -12px;
    left: -12px;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: $color-number;
    background-color: $color-white;
    border-radius: 50px;
  }
}
