.header {
  padding: 24px 0;

  @include vp-768 {
    padding: 16px 0;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;

    @include vp-1280 {
      gap: 40px;
    }

    @include vp-768 {
      padding: 4px 0;
      position: relative;
      gap: 20px;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-grow: 1;

    @include vp-768 {
      gap: 20px;
      justify-content: flex-end;
    }
  }
}
