// Colors
$color-white: #ffffff;
$color-white-06: rgba(255, 255, 255, 0.6);
$color-black: #141414;
$color-black-01: rgba(0, 0, 0, 0.1);
$color-black-025: rgba(0, 0, 0, 0.25);
$color-black-05: rgba(0, 0, 0, 0.5);
$color-black-085: rgba(0, 0, 0, 0.85);
$color-root-background: #f9f9f9;
$color-orange: #ffa902;
$color-orange-light: #facf79;
$color-orange-dark: #875a00;
$color-green: #00ba03;
$color-gray: #868383;
$color-gray-light: #e5e5ea;
$color-gray-middle: #d9d9d9;
$color-gray-edit: #bdbdbd;
$color-red: #ff4d4f;

// Typography
$ff-main: "Poppins", "Arial", sans-serif;

// Viewport
$vp-big: 1800px;
$vp-hd: 1440px;
$vp-tablet: 1024px;
$vp-mobile: 768px;

// Animation
$transition-300: ease-in 0.3s;
