// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-black-main: #121723;
$color-blue: #6D31EE;
$color-violet: #AA9DFA;
$color-background: #e6e8ec;
$color-background2: #292E39;
$color-gray: #A1A6B4;
$color-gold: #F0D288;
$color-darkgold: #BB973E;
$color-gray-social: #D2D5DD;
$color-active: #4F28A5;
$color-error: #D52B1E;

// Typography
$ff-main: "Muller", "Arial", sans-serif;

// Viewport
$vp-desctop: 1260px;
$vp-tablet: 1155px;
$vp-tablet2: 1024px;
$vp-mobile: 975px;
$vp-mobile-mini: 765px;
$vp-mobile-micro: 750px;
$vp-mobile-micro2: 360px;

// Animation
$transition-300: ease-in 0.3s;
