@use "/src/styles/global/variables" as variables;
@use "/src/styles/global/mixins" as mixins;

.nav {
  display: flex;
  align-items: center;
  gap: 40px;

  &__links {
    position: relative;
    font-family: variables.$ff-main;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: variables.$color-white;
    transform: scale(1);
    transition: transform variables.$transition-300;
    display: block;

    @include mixins.vp-768 {
      display: none;
    }

    &:focus-visible {
      transform: scale(1.1);
      outline: none;
    }

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(1.1);

      &::before {
        width: 100%;
        opacity: 1;
      }
    }
  }

  &__links::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -8px;
    height: 1.5px;
    width: 0;
    transform: translateX(-50%);
    background-color: variables.$color-border-down;
    opacity: 0;
    transition: width variables.$transition-300,
      opacity variables.$transition-300;
  }

  &__linksActive {
    transform: scale(1.1);

    &::before {
      width: 100%;
      opacity: 1;
    }
  }

  &__linksMobile {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: variables.$color-white;
    width: 24px;
    height: 24px;
    transform: scale(1);
    transition: transform variables.$transition-300;

    @include mixins.vp-768 {
      display: flex;
    }

    &:focus-visible {
      transform: scale(1.1);
      outline: none;
    }

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(1.05);
    }
  }

  &__linksMobileGenres {
    width: 24px;
    height: 24px;
  }
}
