@use "../../../shared/styles/global/variables" as *;

.testimonialsItem {
  padding: 134px 45px 45px;

  position: relative;

  display: flex;
  flex-direction: column;

  &__image {
    position: absolute;
    top: 0;
    left: -5px;
  }

  &__text {
    margin: 0 0 32px;
    padding: 0;

    font-family: $font-secondary;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.05px;
    color: $color-gray;
  }

  &__block {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__blockImage {
    width: 44px;
    height: 44px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  &__name {
    font-family: $font-secondary;
    font-weight: 300;
    font-size: 18px;
    line-height: 125%;
    letter-spacing: 0.05px;
    color: $color-white;
  }

  &__grade {
    font-family: $font-secondary;
    font-weight: 300;
    font-size: 18px;
    line-height: 125%;
    letter-spacing: 0.05px;
    color: $color-gray;
  }

  b {
    font-family: $font-secondary;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: $color-white;
  }
}
