header {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid #e0dada;
}

main {
  flex: 1 1 0;
}

footer {
  display: flex;
  justify-content: center;
  gap: 96px;

  height: 50px;

  padding: 24px 0 48px;
  color: #b3adad;
}