@use "/src/styles/global/variables" as variables;
@use "/src/styles/global/mixins" as mixins;

.authForm {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: variables.$color-black-05;
  z-index: 10;
  overflow: hidden;
  height: 100%;
  opacity: 0;
  transform: translateY(20px);
  pointer-events: none;
  transition: opacity variables.$transition-300,
    transform variables.$transition-300;

  &__wrapper {
    padding: 64px 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    width: 420px;
    height: auto;
    background-color: variables.$color-white;
    border-radius: 24px;

    @include mixins.vp-768 {
      width: 335px;
      padding: 10px;
    }
  }

  &__img {
    margin: 0 0 40px;
    height: 29.5px;
    width: auto;

    @include mixins.vp-1280 {
      margin: 0;
    }
  }

  &__close {
    width: 24px;
    height: 24px;
    color: variables.$color-black;
  }
}

.visible {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
}
