@use "/src/styles/global/variables" as variables;

.button {
  position: relative;
  display: flex;
  justify-content: center;

  &__element {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: none;
    background-color: transparent;
    cursor: pointer;

    font-family: variables.$ff-main;

    &:disabled {
      pointer-events: none;
    }

    &[data-variant="primary"] {
      font-weight: 600;
      font-size: 16px;
      line-height: 13px;
      color: variables.$color-white;
      background-color: variables.$color-orange;
      border-radius: 10px;
      transition: transform variables.$transition-300,
        background-color variables.$transition-300;

      &:disabled {
        background-color: variables.$color-gray;
      }

      &:focus-visible {
        outline: none;
        transform: scale(1.1);
        background-color: variables.$color-green;
      }

      &:hover {
        transform: scale(1.1);
        background-color: variables.$color-green;
      }

      &:active {
        transform: scale(1.05);
        background-color: variables.$color-green;
      }
    }

    &[data-variant="secondary"] {
      font-weight: 600;
      font-size: 16px;
      line-height: 13px;
      color: variables.$color-orange;
      background-color: variables.$color-white;
      border: solid 2px variables.$color-orange;
      border-radius: 10px;
      transition: transform variables.$transition-300,
        background-color variables.$transition-300,
        color variables.$transition-300, border-color variables.$transition-300;

      &:disabled {
        color: variables.$color-gray;
        border-color: variables.$color-gray;
      }

      &:focus-visible {
        outline: none;
        transform: scale(1.1);
        color: variables.$color-white;
        background-color: variables.$color-orange;
      }

      &:hover {
        transform: scale(1.1);
        color: variables.$color-white;
        background-color: variables.$color-orange;
      }

      &:active {
        transform: scale(1.05);
        color: variables.$color-white;
        background-color: variables.$color-orange;
      }
    }

    &[data-size="main"] {
      padding: 19px 30px;
    }

    &[data-variant="link"] {
      font-weight: 400;
      font-size: 16px;
      line-height: 183%;
      color: variables.$color-white;
      transform: scale(1);
      transition: transform variables.$transition-300;

      &:focus-visible {
        outline: none;
        transform: scale(1.1);
      }

      &:hover {
        transform: scale(1.1);
      }

      &:active {
        transform: scale(1.05);
      }
    }

    &[data-variant="linkBlack"] {
      font-weight: 400;
      font-size: 12px;
      line-height: 183%;
      color: variables.$color-black;
      transform: scale(1);
      transition: transform variables.$transition-300;

      &:focus-visible {
        outline: none;
        transform: scale(1.1);
      }

      &:hover {
        transform: scale(1.1);
      }

      &:active {
        transform: scale(1.05);
      }
    }

    &[data-variant="svg"] {
      color: variables.$color-white;
      transition: transform variables.$transition-300;

      svg {
        transition: color variables.$transition-300;
      }

      &:focus-visible {
        outline: none;
        transform: scale(1.1);

        svg {
          color: variables.$color-green;
        }
      }

      &:hover {
        transform: scale(1.1);

        svg {
          color: variables.$color-green;
        }
      }

      &:active {
        transform: scale(1.05);

        svg {
          color: variables.$color-green;
        }
      }
    }

    &[data-size="none"] {
      padding: 0;
    }
  }
}
