.productItemMarkList {
  margin: 0;
  padding: 0;
  list-style-type: none;

  position: absolute;
  top: 5px;
  left: 5px;

  display: flex;
  flex-direction: column;
  gap: 2px;

  width: max-content;
}
