@use "/src/styles/global/variables" as variables;
@use "/src/styles/global/mixins" as mixins;

.button {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  border: none;
  background-color: transparent;
  cursor: pointer;

  // Variants //

  &[data-variant="reset"] {
    position: absolute;
    top: 50%;
    right: 14px;
    pointer-events: all;
    transform: translate(0, -50%) scale(1);
    transition: transform variables.$transition-300;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 14px;
      height: 2px;
      background-color: variables.$color-disabled;
      transform: translate(-50%, -50%) rotate(0);
      opacity: 0;
      transition: opacity variables.$transition-300,
        transform variables.$transition-300,
        background-color variables.$transition-300;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 14px;
      height: 2px;
      background-color: variables.$color-disabled;
      transform: translate(-50%, -50%) rotate(0);
      opacity: 0;
      transition: opacity variables.$transition-300,
        transform variables.$transition-300,
        background-color variables.$transition-300;
    }

    &:focus-visible {
      outline: none;
      transform: translate(0, -50%) scale(1.1);
    }

    &:hover {
      transform: translate(0, -50%) scale(1.1);
    }

    &:active {
      transform: translate(0, -50%) scale(1.1);

      &:before,
      &:after {
        background-color: variables.$color-border;
      }
    }
  }

  &[data-variant="primary"] {
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: variables.$color-white;
    background-color: variables.$color-btn-primary;
    border-radius: 28px;
    transform: scale(1);
    transition: background-color variables.$transition-300,
      color variables.$transition-300, transform variables.$transition-300;

    &:focus-visible {
      outline: none;
      background-color: variables.$color-white;
      color: variables.$color-black;
    }

    &:hover {
      background-color: variables.$color-white;
      color: variables.$color-black;
    }

    &:active {
      transform: scale(0.95);
    }

    &:disabled {
      cursor: none;
      pointer-events: none;
      color: variables.$color-disabled;
      background-color: variables.$color-btn-disabled;
    }
  }

  &[data-variant="secondary"] {
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: variables.$color-white;
    background-color: variables.$color-bc-secondary;
    border-radius: 28px;
    transform: scale(1);
    transition: background-color variables.$transition-300,
      color variables.$transition-300, transform variables.$transition-300;

    &:focus-visible {
      outline: none;
      background-color: variables.$color-white;
      color: variables.$color-black;
    }

    &:hover {
      background-color: variables.$color-white;
      color: variables.$color-black;
    }

    &:active {
      transform: scale(0.95);
    }

    &:disabled {
      cursor: none;
      pointer-events: none;
      color: variables.$color-disabled;
      background-color: variables.$color-btn-disable2;
    }
  }

  &[data-variant="link"] {
    font-family: variables.$ff-main;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: variables.$color-white;
    transform: scale(1);
    transition: transform variables.$transition-300;

    &:focus-visible {
      transform: scale(1.1);
      outline: none;
    }

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(1.1);
    }
  }

  &[data-variant="login"] {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: variables.$color-black;
    font-family: variables.$ff-main;
    transform: scale(1);
    transition: transform variables.$transition-300;

    &:focus-visible {
      transform: scale(1.1);
      outline: none;
    }

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(1.05);
    }
  }

  &[data-variant="close"] {
    position: absolute;
    top: 0;
    right: -72px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: variables.$color-white;
    border-radius: 50%;
    transform: scale(1);
    transition: transform variables.$transition-300;

    @include mixins.vp-768 {
      right: 0;
    }

    &:focus-visible {
      transform: scale(1.1);
      outline: none;
    }

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(1.05);
    }
  }

  &[data-variant="closeFavotites"] {
    position: absolute;
    top: -24px;
    right: -24px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: variables.$color-white;
    border-radius: 50%;
    transform: scale(1);
    transition: transform variables.$transition-300,
      opacity variables.$transition-300;
    opacity: 0;
    pointer-events: none;

    &:focus-visible {
      transform: scale(1.1);
      outline: none;
    }

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(1.05);
    }
  }

  &[data-variant="link"] {
    font-family: variables.$ff-main;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: variables.$color-white;
    transform: scale(1);
    transition: transform variables.$transition-300;

    &:focus-visible {
      transform: scale(1.1);
      outline: none;
    }

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(1.1);
    }
  }

  &[data-variant="profile"] {
    color: variables.$color-white;
    font-family: variables.$ff-main;
    transform: scale(1);
    transition: transform variables.$transition-300;

    &:focus-visible {
      transform: scale(1.05);
      outline: none;
    }

    &:hover {
      transform: scale(1.05);
    }

    &:active {
      transform: scale(1.025);
    }

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -8px;
      height: 1.5px;
      width: 0;
      transform: translateX(-50%);
      background-color: variables.$color-border-down;
      opacity: 0;
      transition: width variables.$transition-300,
        opacity variables.$transition-300;
    }

    &.active {
      transform: scale(1.05);
      &::before {
        width: 100%;
        opacity: 1;
      }
    }
  }

  // Sizes //

  &[data-size="small"] {
    width: 24px;
    height: 24px;
  }

  &[data-size="medium"] {
    padding: 16px;
    width: 100%;
    height: unset;
  }

  &[data-size="self"] {
    padding: 16px 30px;
    width: max-content;
    height: unset;

    @include mixins.vp-376 {
      width: 100%;
    }
  }

  &[data-size="circle"] {
    padding: 16px 22px;
    width: max-content;
    height: unset;
  }
}

.visibles {
  &[data-variant="reset"] {
    &::after {
      opacity: 1;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    &::before {
      opacity: 1;
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
}
