@use "../../shared/styles/global/variables" as *;

.hero {
  padding-top: 88px;
  padding-bottom: 127px;

  display: flex;
  gap: 20px;
  justify-content: space-between;

  &__inner {
    position: relative;

    display: flex;
    gap: 20px;
    justify-content: space-between;
  }

  &__left {
    padding-top: 48px;

    display: flex;
    flex-direction: column;
    gap: 14px;

    max-width: 716px;
  }

  &__leftText {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__leftTextTitle {
    margin: 0;
    padding: 0;
    font-family: $font-secondary;
    font-weight: 400;
    font-size: 72px;
    line-height: 113%;
    letter-spacing: -1.1px;
    color: $color-white;
  }

  &__leftTextDescription {
    font-family: $font-secondary;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: $color-gray;
  }

  &__image {
    position: relative;

    width: 589px;
    height: 415px;
  }

  &__imagePosition {
    position: absolute;
    top: -23px;
    left: -40px;
    bottom: 0px;
    right: -30px;

    z-index: 10;
  }

  &__imageDottes {
    position: absolute;

    top: -15px;
    right: -40px;

    z-index: 15;
  }

  &__imagePatternOne {
    position: absolute;

    width: 1340px;
    height: 415px;

    top: 177px;
    right: -717px;
  }

  &__imagePatternTwo {
    position: absolute;

    width: 1340px;
    height: 357px;

    top: -186px;
    right: 235px;
  }

  &__circleOne {
    position: absolute;
    top: 32px;
    right: 0;

    background-color: rgba(20, 28, 72, 0.6);

    width: 716px;
    height: 396px;
    filter: blur(200px);

    z-index: 20;
  }

  &__circleTwo {
    position: absolute;
    top: -570px;
    left: -618px;

    background-color: rgba(20, 28, 72, 0.6);

    width: 800px;
    height: 800px;
    filter: blur(200px);

    z-index: 20;
  }
}
