.playlistInfoPage {
  color: rgb(0, 255, 255);
}

.playlistInfoPage__inner {
  display: flex;
  flex-direction: column;
}

.playlistInfoPage__description {
  margin: 0 0 10px 0;
  padding: 0;
}

.playlistInfoPage__description--last {
  padding: 0 0 10px 0;
  border-bottom: 2px solid gray;
}

.playlistInfoPage__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p a {
  color: rgb(0, 47, 255);
  transition: color 0.3s ease-in;
}

p a:hover {
  color: rgb(0, 37, 204);
}

p a:active {
  color: rgb(204, 0, 0);
}
