@use "../../../shared/styles/global/variables" as *;

.item {
  position: relative;

  display: flex;
  flex-direction: column;

  &__image {
    position: absolute;

    top: -49px;
    left: -9px;

    width: 55px;
    height: 50px;
  }

  &__title {
    margin: 10px 0 8px 0;
    padding: 0;

    font-family: $font-secondary;
    font-weight: 500;
    font-size: 20px;
    line-height: 125%;
    letter-spacing: 0.2px;
    color: $color-white;
  }

  &__description {
    margin: 0;
    padding: 0;

    font-family: $font-secondary;
    font-weight: 300;
    font-size: 16px;
    line-height: 138%;
    color: $color-gray;
  }
}
