@use "../../shared/styles/global/variables" as *;

.callToAction {
  position: relative;

  padding: 128px 126px 175px;

  display: flex;
  flex-direction: column;

  &__wrapper {
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 836px;
  }

  &__title {
    margin: 0 0 17px 0;
    padding: 0;

    font-family: $font-sans;
    font-weight: 400;
    font-size: 48px;
    line-height: 113%;
    letter-spacing: -0.95px;
    text-align: center;

    background-image: linear-gradient(
      90deg,
      rgba(109, 156, 246, 0.7) -8.51%,
      rgba(195, 214, 251, 0.876516) 10.33%,
      #ffffff 51.91%,
      rgba(208, 223, 252, 0.90333) 87.66%,
      rgba(109, 156, 246, 0.7) 109.79%
    );

    -webkit-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;
    color: transparent;
  }

  &__text {
    margin: 0 0 40px 0;
    padding: 0;

    font-family: $font-secondary;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.05px;
    text-align: center;
    color: $color-gray;

    max-width: 716px;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 18px;

    z-index: 30;
  }

  &__left {
    position: absolute;
    top: 155px;
    left: -500px;
    width: 800px;
    height: 800px;

    filter: blur(200px);

    background-color: rgba(20, 28, 72, 0.6);
  }

  &__right {
    position: absolute;
    top: 155px;
    right: -500px;
    width: 800px;
    height: 800px;

    filter: blur(200px);

    background-color: rgba(20, 28, 72, 0.6);
  }
}
