@use "../../styles/global/variables" as *;

.nav {
  display: flex;
  flex-direction: column;

  z-index: 30;

  &__list {
    padding: 0;
    margin: 0;
    list-style-type: none;

    display: flex;
    align-items: center;
    gap: 48px;
  }

  &__link {
    display: flex;
    flex-direction: column;

    font-family: $font-secondary;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.2px;
    transform: scale(1);
    transition: transform $transition-fast;

    &:focus-visible {
      outline: none;
      transform: scale(1.03);
    }

    &:hover {
      transform: scale(1.03);
    }
  }
}
