@use "./mixins" as mixins;

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 80px;
  min-height: 100%;
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;

  @include mixins.vp-1280 {
    padding: 0 40px;
  }

  @include mixins.vp-768 {
    padding: 0 20px;
  }
}
