// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-gray: #f5f5f5;
$color-pink: #e9d9d8;

// Typography
$ff-main: "BungeeHairline", "Arial", sans-serif;

// Viewport
$vp-hd: 1280px;
$vp-tablet: 768px;
$vp-mobile: 376px;
