@use "/src/styles/global/variables" as variables;
@use "/src/styles/global/mixins" as mixins;

.mainPage {
  padding: 69px 0 100px 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  @include mixins.vp-1280 {
    background-color: variables.$color-gray-main;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 260.8px 1fr;
    grid-template-rows: 1fr 50px;
    flex-grow: 1;

    @include mixins.vp-1280 {
      display: flex;
      flex-direction: column;
    }
  }

  &__error {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__errorText {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: variables.$color-black-text;
  }
}

.footerNull {
  padding-bottom: 0;
}
