@use "/src/styles/global/variables" as variables;
@use "/src/styles/global/mixins" as mixins;

.profileUser {
  padding: 64px 0 0;

  @include mixins.vp-768 {
    padding: 16px 0 152px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 64px;

    @include mixins.vp-768 {
      gap: 40px;
    }
  }

  &__title {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: variables.$color-white;

    @include mixins.vp-768 {
      font-size: 24px;
      line-height: 32px;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 64px;

    @include mixins.vp-768 {
      gap: 24px;
    }
  }

  &__linksBlock {
    display: flex;
    align-items: center;
    gap: 10px;

    @include mixins.vp-768 {
      gap: 8px;
    }
  }

  &__linksBlockIcon {
    width: 24px;
    height: 24px;
  }

  &__linksBlockText {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: variables.$color-white;
  }

  &__favorites {
    padding: 30px;
    margin: -30px;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 336px);
    column-gap: 40px;
    row-gap: 64px;

    @include mixins.vp-1340 {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: unset;
    }

    @include mixins.vp-1280 {
      gap: 40px;
    }

    @include mixins.vp-768 {
      display: flex;
      flex-wrap: nowrap;
      overflow: auto;
      &::-webkit-scrollbar {
        display: none;
      }
      height: 336px;
      width: 100%;
      flex-grow: 1;
    }
  }

  &__favoritesItem {
    position: relative;

    &:focus-visible {
      button[data-variant="closeFavotites"] {
        opacity: 1;
        pointer-events: all;
        outline: none;
      }
    }

    &:hover {
      button[data-variant="closeFavotites"] {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: variables.$color-black;
    border: 1px solid variables.$color-white-025;
    border-radius: 16px;
    box-shadow: 0px 0px 80px 0px variables.$color-white-033;
    overflow: hidden;
    transform: scale(1);
    transition: transform variables.$transition-300;

    @include mixins.vp-768 {
      width: 224px;
      box-shadow: none;
      min-height: unset;
      height: 100%;
    }

    &:focus-visible {
      outline: none;
      transform: scale(1.05);
    }

    &:hover {
      transform: scale(1.05);
    }

    &:active {
      transform: scale(1.025);
    }
  }

  &__cardEmpty {
    background-color: transparent;
  }

  &__cardPoster {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }

  &__list {
    margin: 0 0 64px 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: variables.$color-white-05;
    width: 60px;
    height: 60px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: variables.$color-white;

    @include mixins.vp-768 {
      width: 48px;
      height: 48px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__infoTitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: variables.$color-white;

    @include mixins.vp-768 {
      font-size: 14px;
      line-height: 20px;
      color: variables.$color-white-05;
    }
  }

  &__infoProfile {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: variables.$color-white;

    @include mixins.vp-768 {
      font-size: 18px;
      line-height: 24px;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
  }

  &__link {
    padding: 16px 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: variables.$color-white;
    background-color: variables.$color-btn-primary;
    border-radius: 28px;
    transform: scale(1);
    transition: background-color variables.$transition-300,
      color variables.$transition-300, transform variables.$transition-300;

    &:focus-visible {
      outline: none;
      background-color: variables.$color-white;
      color: variables.$color-black;
    }

    &:hover {
      background-color: variables.$color-white;
      color: variables.$color-black;
    }

    &:active {
      transform: scale(0.95);
    }

    &:disabled {
      cursor: none;
      pointer-events: none;
      color: variables.$color-disabled;
      background-color: variables.$color-btn-disable2;
    }
  }

  &__close {
    width: 24px;
    height: 24px;
    color: variables.$color-black;
  }
}
