@use "/src/styles/global/variables" as variables;
@use "/src/styles/global/mixins" as mixins;

.tracks {
  margin: 0 0 0 46px;
  padding: 35px 0 83px;

  @include mixins.vp-1024 {
    margin: 0;
    padding: 20px 0 30px;
  }

  &__table {
    display: flex;
    flex-direction: column;
  }

  &__tableTitle {
    margin: 0 0 22px 0;
    text-align: start;
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    color: variables.$color-black-text;

    @include mixins.vp-1024 {
      display: none;
    }
  }

  &__tableSvg {
    width: 16px;
    height: 16px;
    color: variables.$color-gray-text;
  }

  thead {
    @include mixins.vp-1024 {
      display: none;
    }
  }

  tbody {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
  }

  tbody tr {
    border-top: 1px solid variables.$color-gray-logo;

    @include mixins.vp-1280 {
      background-color: variables.$color-white;
      border-top: 20px solid variables.$color-gray-main;
    }

    &:focus-visible {
      outline: none;
      background-color: variables.$color-gray-main;
    }

    &:hover {
      background-color: variables.$color-gray-main;
      cursor: pointer;
    }
  }

  tbody tr:last-child {
    border-bottom: 1px solid variables.$color-gray-main;
  }

  tbody tr:last-child,
  tbody tr:first-child {
    @include mixins.vp-1024 {
      border-bottom: none;
      border-top: none;
    }
  }

  th,
  td {
    text-align: left;
  }

  th:last-child {
    text-align: center;
  }

  tr {
    display: grid;
    grid-template-columns:
      40px 1fr minmax(200px, 262px) minmax(150px, 195px)
      143px;

    @include mixins.vp-1024 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
    }
  }

  th {
    padding: 8px;
    height: 32px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.09px;
    text-transform: uppercase;
    color: variables.$color-gray-text;
  }

  td {
    display: flex;
    align-items: center;
    padding: 14px 8px;
    height: 88px;

    @include mixins.vp-1024 {
      padding: 0;
      height: 70px;

      &:first-child {
        display: none;
      }
      &:nth-child(3) {
        display: none;
      }
      &:nth-child(4) {
        display: none;
      }
    }
  }
}
