@use "/src/styles/global/mixins" as mixins;

.profileComponent {
  position: relative;
  padding: 20px 0;

  @include mixins.vp-1280 {
    padding: 60px 0;
  }

  &__btn {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;

    @include mixins.vp-1280 {
      bottom: auto;
      top: 10px;
      border-radius: 30px;
      overflow: hidden;
    }
  }

  &__title {
    margin: 0 0 20px 0;
    padding: 0;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
  }

  &__description {
    margin: 0 auto;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    max-width: 600px;
    text-align: center;
  }

  &__image {
    margin: auto 0 0;
  }
}
