@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import "tailwindcss";

:root {
  /* dont change */
  --color-white-pernamently: #ffffff;
  --color-bg-pernamently: #1e2939;
  --color-black-05: rgba(0, 0, 0, 0.5);

  /* main */
  --color-white: #ffffff;
  --color-white-card: #ffffff;
  --color-black: #111827;
  --color-gray-50: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-400-02: rgba(153, 161, 175, 0.2);
  --color-gray-500: #6a7282;
  --color-gray-700: #364153;
  --color-gray-800: #1e2939;
  --color-gray-600: #4a5565;
  --color-blue-light: #dbeafe;
  --color-blue-dark: #1447e6;
  --color-green-600: #42b2af;
  --color-secondary: #bdc6d9;
  --color-secondary-hover: #677893;
  --color-primary: #2563eb;
  --color-primary-hover: #1d4ed8;
  --color-danger: #dc2626;
  --color-danger-hover: #a61c1c;
  --color-success: #16a34a;
  --color-warning: #f59e0b;

  /* special */
  --color-white-modify: #ffffff;

  --ff-main: "Inter", Arial, sans-serif;
}

[data-theme="dark"] {
  /* main */
  --color-white: #3c4757;
  --color-white-card: #455161;
  --color-black: #ffffff;
  --color-gray-50: #3c4757;
  --color-gray-200: #404040;
  --color-gray-400-02: rgba(107, 114, 128, 0.2);
  --color-gray-500: #9ca3af;
  --color-gray-700: #364153;
  --color-gray-800: #f3f4f6;
  --color-gray-600: #e5e7eb;
  --color-blue-light: #1e3a8a;
  --color-blue-dark: #3b82f6;
  --color-green-600: #42b2af;
  --color-secondary: #6b7280;
  --color-secondary-hover: #9ca3af;
  --color-primary: #3b82f6;
  --color-primary-hover: #2563eb;
  --color-danger: #ef4444;
  --color-danger-hover: #dc2626;
  --color-success: #10b981;
  --color-warning: #f59e0b;

  /* special */
  --color-white-modify: #455161;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-white);
  color: var(--color-black);
}

html {
  scrollbar-gutter: stable;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 16px;
  line-height: 24px;
  font-family: var(--ff-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
}
