@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import "tailwindcss";

:root {
  --color-white: #ffffff;
  --color-black: #111827;
  --color-gray-light: #f3f4f6;
  --color-gray-dark: #374151;
  --color-secondary: #bdc6d9;
  --color-secondary-hover: #677893;
  --color-primary: #2563eb;
  --color-primary-hover: #1d4ed8;
  --color-danger: #dc2626;
  --color-danger-hover: #a61c1c;
  --color-success: #16a34a;
  --color-warning: #f59e0b;

  --ff-main: "Inter", Arial, sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-white);
}

html {
  scrollbar-gutter: stable;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 16px;
  line-height: 24px;
  font-family: var(--ff-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
}
