@use "/src/styles/global/variables" as variables;

.app {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;

  &__wrapper {
    height: 100%;
    flex-grow: 1;
  }

  &__title {
    margin: 0 0 20px;
    padding: 0;
    text-align: center;
    color: variables.$color-pink;
  }

  &__btns {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: space-between;
  }

  &__btnsInfo {
    color: variables.$color-black;
    font-weight: 700;
  }

  &__btnsBtn {
    cursor: pointer;
    color: variables.$color-black;
    font-weight: 700;
  }

  &__btnsBtnActive {
    border: 1px solid variables.$color-pink;
    cursor: auto;
  }
}
