@use "/src/styles/global/variables" as variables;
@use "/src/styles/global/mixins" as mixins;

.login {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: variables.$color-white;

  &__modal {
    padding: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    transform: translate(-50%, -50%);
    min-height: 300px;
    min-width: 300px;
    border: 1px solid variables.$color-orange;
    box-shadow: 0px 0px 9px 10px rgba(170, 170, 170, 0.08);
    border-radius: 20px;

    @include mixins.vp-768 {
      min-width: unset;
    }
  }

  &__modalTitle {
    margin: 0 0 20px 0;
    padding: 0;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    text-align: center;
  }

  &__modalForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }

  &__modalInputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__modalError {
    position: absolute;
    top: 53px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: variables.$color-red;
  }

  &__modalButtons {
    display: flex;
    align-items: center;
    gap: 5px;

    @include mixins.vp-768 {
      flex-direction: column;
    }
  }

  &__modalButtonsLink {
    padding: 9px;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: variables.$color-black-text;
    background-color: variables.$color-gray-main;
    border-radius: 10px;
    width: 100%;
    transition: background-color variables.$transition-300,
      color variables.$transition-300;

    @include mixins.vp-768 {
      justify-content: center;
    }

    &:focus-visible {
      outline: none;
      background-color: variables.$color-orange;
      color: variables.$color-white;
    }

    &:hover {
      background-color: variables.$color-orange;
      color: variables.$color-white;
    }

    &:active {
      background-color: variables.$color-orange;
      color: variables.$color-white;
    }
  }
}
