@use "/src/styles/global/mixins" as mixins;

.categoriesList {
  margin: 0 -5px 15px;
  padding: 0 5px;
  list-style-type: none;

  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 5px;

  &::-webkit-scrollbar {
    display: none;
  }

  @include mixins.vp-426 {
    margin: 0 -5px 14px;
  }
}
