@use "../../styles/global/variables" as *;

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;

  font-size: 0.95rem;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  transition:
    background-color $transition-fast,
    box-shadow $transition-fast,
    transform $transition-fast,
    color $transition-fast;
  white-space: nowrap;
}

.small {
  padding: 16px 36px;
}

.big {
  padding: 14px 36px;
}

.primary {
  font-family: $font-secondary;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.05px;

  border-radius: 40px;
  background-color: $color-button-primary-02;
  color: $color-white;
  border: 1px solid $color-border;
  transition:
    background-color $transition-fast,
    border-color $transition-fast;

  &:focus-visible {
    outline: none;
    background-color: $color-button-primary-hover-05;
    border-color: $color-border-hover;
  }

  &:hover {
    background-color: $color-button-primary-hover-05;
    border-color: $color-border-hover;
  }
}

.secondary {
  font-family: $font-secondary;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.5px;

  border-radius: 40px;
  background-color: $color-border;
  color: $color-white;
  transition:
    background-color $transition-fast,
    border-color $transition-fast;

  &:focus-visible {
    outline: none;
    background-color: $color-button-secondary-hover;
  }

  &:hover {
    background-color: $color-button-secondary-hover;
  }
}
