@use "/src/styles/global/variables" as variables;

.customFileInput {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;

  &__name {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  &__field {
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: -1;
  }

  &__label {
    transform: scale(1);
    transition: transform variables.$transition-300;

    &:focus-visible {
      outline: none;
      transform: scale(1.1);
    }

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(1.05);
    }
  }

  &__labelInner {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
  }

  &__labelSvg {
    width: 32px;
    height: 32px;
    color: variables.$color-orange;
  }

  &__labelText {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration: underline;
    text-decoration-style: solid;
    color: variables.$color-orange;
    text-underline-offset: 3px;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration-style: solid;
    color: variables.$color-black;
  }

  &__error {
    position: absolute;
    left: 0;
    bottom: -25px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: variables.$color-red;
  }
}
