@use "/src/styles/global/mixins" as mixins;

.container {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1441px;

  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;

  @include mixins.vp-1024 {
    padding: 0 16px;
  }
}
