// color
$color-white: #ffffff;
$color-black: #000000;
$color-black-text: #171717;
$color-orange: #fc6d3e;
$color-gray-logo: #e8e8e8;
$color-gray-main: #f5f5f5;
$color-gray-text: #a4a4a4;
$color-gray-icon: #aaaaaa;
$color-red: #d71313;

// fonst
$ff-main: "Actor", "Arial", sans-serif;

// viewports
$vp-big: 1441px;
$vp-lessBig: 1280px;
$vp-tablet: 1024px;
$vp-mobile: 768px;

// animation
$transition-300: ease-in 0.3s;
