.card {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card__img {
  margin: 0 0 15px;
  border-radius: 20px;
  height: 215px;
  width: 100%;
}

.card__name {
  margin: 0;
  padding: 0;
}

.card__description {
  margin: 0 0 15px;
  padding: 0;
  color: #a67b73;
}