@use "/src/styles/global/variables" as variables;
@use "/src/styles/global/mixins" as mixins;

.logo {
  &:focus-visible {
    outline: none;
  }

  &__img {
    width: auto;
    height: 32px;

    @include mixins.vp-768 {
      height: 18px;
    }
  }
}
