// color
$color-black: #0a0812;
$color-white: #fff;
$color-button-primary-02: rgba(36, 59, 185, 0.2);
$color-button-primary-hover-05: rgba(36, 59, 185, 0.5);
$color-button-secondary-hover: #3f57da;
$color-border: #243bb9;
$color-border-hover: #3f57da;
$color-gray: #bdc4d1;
$color-border-1: #1b244f;
$color-border-2: #273871;
$color-border-3: #2c427f;
$color-bc-1: #18264a;
$color-bc-2: #0f1631;
$color-red: #f04242;

$bg-main: #050816;
$bg-card: #0b1020;
$accent: #3b82f6;
$accent-soft: #60a5fa;
$text-main: #f9fafb;
$text-muted: #9ca3af;
$error: #f97373;
$success: #22c55e;
$border-subtle: rgba(148, 163, 184, 0.35);
$radius-lg: 999px;
$radius-md: 12px;
$shadow-button: 0 18px 45px rgba(37, 99, 235, 0.35);
$shadow-button-soft: 0 12px 30px rgba(37, 99, 235, 0.25);
$font-sans: "SF Pro Text", "Segoe UI", "Arail", sans-serif;

// fonst
$font-sans: "Aeonik", "Arial", sans-serif;
$font-secondary: "Inter", "Arial", sans-serif;

// animation
$transition-fast: ease-in 0.3s;
